{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio - Ntando Memela</title>
    <link rel="stylesheet" href="{% static '/main.css' %}"> <!-- Link to your CSS file -->
</head>
<body>
    <header>
        <h1>Ntandoyenkosi Memela</h1>
        <nav>
            <ul>
                <li><a href="#about">About Me</a></li>
                <li><a href="#projects">Projects</a></li>
                <li><a href="#skills">Skills</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </nav>
    </header>

    <div class="container">
        <section id="about" class="intro">
            <img src="https://github.com/ntando205/portfolio/blob/0efb860423dd1517d606fcc52d041072303c425e/portfolio/staticroot/potrait.jpg?raw=true" alt="Profile Picture">
            <h2>About Me</h2>
            <p>Hello! I'm Ntandoyenkosi Memela, a computer science student at the University of the Witwatersrand. I have a passion for Cybersecurity, web & software development.</p>
        </section>

        <section id="projects" class="projects">
            <h2>Projects</h2>
            <div class="project">
                <h3>CRM Web app</h3>
                </br>
                <p>A CRM app designed specifically for a driving school. Built on the Django web framwork.</p>
                <a href="https://github.com/ntando205/Django-CRM.git" target="_blank">View on GitHub</a>
            </div>
            <div class="project">
                <h3>Mobile Market</h3>
            </br>
                <p>This project is a group assignment for a Mobile Computing course. It is an android app developed on android studio. PHP was used toprovide webservices for the app an allow it to connect to the MySQL database.</p>
                <a href="https://github.com/ntando205/mobile_market.git" target="_blank">View on GitHub</a>
            </div>
        </section>

        <section id="skills" class="skills">
            <h2>Skills</h2>
            <div class="skill">
                <h3>Programming Languages</h3>
                <p>Python, C++, Java</p>
            </div>
            <div class="skill">
                <h3>Web Development</h3>
                <p>HTML, CSS, Django, MySQL</p>
            </div>
            <div class="skill">
                <h3>Other Intrests</h3>
                <p>Biology, Physics</p>
            </div>
        </section>

        <section id="contact" class="contact">
            <h2>Contact</h2>
            <p>Email: <a href="mailto:ntandoyenkosimemela205@gmail.com">ntandoyenkosimemela205@gmail.com</a></p>
            <p>LinkedIn: <a href="https://www.linkedin.com/in/ntandoyenkosi-memela-9844a5243" target="_blank">NtandoMemela</a>
</p>
        </section>
    </div>

    <footer>
        <p>&copy; 2024 NtandoMemela. All rights reserved.</p>
    </footer>
</body>
</html>
